@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

#0866FF #F0F2F5
:root {
    --fonte1: "Libre Baskerville", serif;
    font-weight: 400;
    ;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    text-align: center;
    background-color: #317df78f;
    color: black;
    width: 500px;
    margin: auto;
}

body {
    margin: 5vw;
    background-color: #f0f2f5;

}

img {
    box-shadow: 1px 1px 1px black;
    width: 15vw;
    margin: 15px;
    background-color: white;


}

div {
    text-align: center;

}

section.lado {
    text-align: left;
    width: 280px;
    height: 100px;
    margin: auto;
    padding: 10px;
    background-color: white;
}

h2 {
    background-color: #4489f96d;
    margin: auto;
    width: 500px;
    
}

p.descricao{
    background-color: white;
    width: 280px;
    height: 130px;
    margin: auto;
    
    padding: 10px;
    text-align: left;


}